//component
.box{
  display: flex;
  &.items-2{
    .items{
      flex:50%
    }
  }
  &.items-3{
    .items{
      flex:33.33%
    }
  }
  &.items-4{
    .items{
      flex:25%
    }
  }
  .items{
    box-sizing: border-box;
    padding: 50px;
    font-size: $fontSizeMid;
    flex: 100%;
    flex-shrink: 0;
    p{
      font-size: $fontSizeSamll;
      margin-top: 50px;
      font-weight: $fontbold;
    }
    .title{
      font-size: $fontSizeBig;
      font-weight: $fontlight;
      margin-bottom: 50px;
    }
    img{
      width: 100%;
    }
  }
}

//kakao map
#map{
  margin-top: 50px;
  .marker-title{
    font-weight: 700;
    font-size: $fontSizeMid
  }
}


