@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
//site width
$siteWidth: 1320px;

//text size
$fontSizeSamll: 14px;
$fontSizeNormal: 16px;
$fontSizeLnb: 18px;
$fontSizeMid: 26px;
$fontSizeBig: 46px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;
$titleFontProduct: 76px;

// color
// background color
$layoutBg: #efe7dc;
$tableBg: #b8944d;
$tableCellBg: #ffe5b3;

// font color
$fontColorBasic: #1a1a1a;
$fontColorPrimary: #b8944d;
$fontColorHover: #e3a936;
$fontColorText: #595959;
$fontColorHeader: #1a1a1a;
$fontColorLnb: #1a1a1a;
$fontColorSubTitle: #1a1a1a;
//border color
$borderColorPrimary: #b8944d;
$borderBgColor: #997939;

//button color
$gbtnColor: #b8944d;
$gbtnColorHover: #e3a936;

$fontlight: 300;
$fontMid: 400;
$fontbold : 700;