.mainbanner {
  height: 550px;
  background: url("../img/main-banner/main-banner-img.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.inner:nth-child(1) {
  margin-top: 50px;
}
.inner .box.items-2 p + a {
  margin-top: 50px;
}